@import url('https://fonts.googleapis.com/css?family=Pacifico|Playfair+Display');

header {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}

@media (max-width: 575.98px) { 
  header {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin-bottom: 0.7em;
  }
}